<div class="flex justify-center w-full">
  <div class="w-full lg:w-1/2 px-4">
    <ul>
      <li>Order# <%= @order.id %></li>
      <li>SKU: <%= @order.teddy_sku %></li>
      <li>Status: <%= @order.state %></li>
    </ul>
  </div>
</div>
